<div>
  <h2><%= user.name %></h2>
  <p><%= user.email %></p>
  <p><%= user.created_at %></p>
  <p><%= user.updated_at %></p>
  <% if user.mother%>
    <p>Mother: <%= link_to user.mother.name, user.mother %></p>
  <% end %>
  <% if user.father%>
    <p>Father: <%= link_to user.father.name, user.father %></p>
  <% end %>
  <p><%= link_to 'Show', user %></p>
  <p><%= link_to 'Edit', edit_user_path(user) %></p>
  <p><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
